package templates

templ ImagePreview(url string) {
	<label for="image_url" class="text-base">Image Preview</label>
	<img loading="lazy" src={ url } class="object-contain"/>
	<input type="hidden" name="image_url" value={ url }/>
}
