package templates

templ HomePage() {
	@Navbar()
	<main class="flex flex-col items-center gap-4 flex-1">
		<div hx-get="/introvideo" hx-swap="outerHTML" hx-trigger="load" class="p-4"></div>
		<div hx-get="/portfolio" hx-swap="outerHTML" hx-trigger="load" id="posts_placeholder" class="p-4"></div>
	</main>
	@Footer()
}
